.heading-title {
  margin-bottom: 48px;
}
.heading-title .title {
  background-color: var(--gray-200);
  margin: 0 auto 16px;
  width: fit-content;
  height: 28px;
  border-radius: 50px;
  text-align: center;
  color: var(--gray-600);
  padding: 4px 20px;
}
.heading-title .description {
  text-align: center;
  color: var(--gray-600);
  margin-bottom: 0;
  width: 576px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* .heading-title p {
    color:  var(--gray-600);
    position: absolute;
    top: -10px;
    left: 18px;
} */
@media (max-width: 767px) {
  .heading-title {
    margin-bottom: 24px;
  }
  .heading-title .description {
    padding-left: var(--mobile-container-padding-left);
    padding-right: var(--mobile-container-padding-right);
  }
}
