/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  /* Gray (Light) */
  --gray-default: #ffffff;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;

  /* Emerald */
  --emerald-color-500: #10b981;

  /* Box shadow */
  --box-shadow-md: 0px 7px 15px -3px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --box-shadow-2xl: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);

  /* Other */
  --main-transition: 0.5s;
  --main-padding-top: 96px;
  --main-padding-bottom: 96px;
  --main-padding-left: 80px;
  --main-padding-right: 80px;
  --container-padding-left: 32px;
  --container-padding-right: 32px;
  --main-padding-right: 80px;
  --mobile-padding-top: 50px;
  --mobile-padding-bottom: 50px;
  --header-height: 75px;

  /* Mobile */
  --mobile-padding-top: 64px;
  --mobile-padding-bottom: 64px;
  --mobile-container-padding-left: 16px;
  --mobile-container-padding-right: 16px;
}
[data-theme="dark"] {
  /* Gray (Dark) */
  --gray-default: #030712;
  --gray-50: #111827;
  --gray-100: #1f2937;
  --gray-200: #374151;
  --gray-300: #4b5563;
  --gray-400: #6b7280;
  --gray-500: #9ca3af;
  --gray-600: #d1d5db;
  --gray-700: #e5e7eb;
  --gray-800: #f3f4f6;
  --gray-900: #f9fafb;
  --gray-950: #ffffff;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1280px;
  }
}
/* End Global Rules */

/* Font settings */
.heading-h1 {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -2%;
  font-weight: 700;
}
.heading-h2 {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -2%;
  font-weight: 600;
}
.heading-h3 {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -2%;
  font-weight: 600;
}
.subtitle-normal {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle-semibold {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.body1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.body2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.body2-underline {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline;
}
.body2-medium {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.body2-semibold {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.body3 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.body3-medium {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .heading-h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
  }
  .heading-h2 {
    font-size: 18px;
    line-height: 28px;
  }
  .heading-h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .subtitle-normal {
    font-size: 18px;
    line-height: 28px;
  }
  .body1 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .heading-h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
  }
}
