.work-card {
  width: 1152px;
  max-width: 100%;
  height: 480px;
  background-color: var(--gray-50);
  box-shadow: var(--box-shadow-md);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.work-card .image {
  width: 50%;
  height: 100%;
  padding: 48px;
  background-color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-card .image img {
  width: 480px;
  height: 384px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-lg);
}
.work-card .feature {
  width: 50%;
  height: 100%;
  padding: 48px;
}
.work-card .feature .work-title {
  color: var(--gray-900);
  margin: 0;
  margin-bottom: 24px;
}

.work-card .feature .work-info {
  color: var(--gray-600);
  margin: 0;
  margin-bottom: 24px;
}
.work-card .feature .techs {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 24px;
}
.work-card .feature .link .link-icon {
  color: var(--gray-600);
  font-size: 24px;
  margin-left: 7px;
  margin-right: 7px;
}

@media (max-width: 1200px) {
  .work-card {
    /* height: 772px; */
    height: 100%;
  }
  .work-card .image {
    width: 100%;
    height: 256px;
    padding: 32px;
  }
  .work-card .image img {
    width: 279px;
    height: 192px;
  }
  .work-card .feature {
    width: 100%;
    /* height: 516px; */
    height: 100%;
    padding: 32px;
  }
}
